.field {

    --fieldInputHeight: var(--input-height);
    --fieldInputTextColor: var(--color-dark);
    --fieldInputBgColor: var(--color-light);
    --fieldInputBorerColor: var(--color-dark);
    --fieldInputPlaceholderColor: var(--color-gray-alt);
    --fieldInputHoverBgColor: var(--color-accent);

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;

    @include mobile {
        row-gap: 10px;
    }

    &--large-height {
        --fieldInputHeight: var(--button-height);
    }

    &--dark-bg {
        --fieldInputTextColor: var(--color-accent);
        --fieldInputBgColor: var(--color-dark-alt);
        --fieldInputPlaceholderColor: var(--color-light);
        --fieldInputBorerColor: var(--color-light);
        --fieldInputHoverBgColor: var(--color-dark);
    }

    &__label {
        @include fluid-text(16, 14);
    }

    &__input {
        width: 100%;
        height: var(--fieldInputHeight);
        border: 1px solid var(--fieldInputBorerColor);
        border-radius: var(--border-radius);
        color: var(--fieldInputTextColor);
        background-color: var(--fieldInputBgColor);
        padding-inline: 30px;

        @include hover {
            background-color: var(--fieldInputHoverBgColor);
        }

        @include mobile {
            padding-inline: 20px;
        }

        &:focus {
            border-color: var(--color-accent);
            outline: none;
        }

        &::placeholder {
            color: var(--fieldInputPlaceholderColor);
        }

        &--textarea {
            height: 190px;
            padding-block: 18px;
            resize: none;

            @include mobile {
                height: 132px;
            }
        }
    }
}