.footer {

    @include mobile {
        padding-inline: 0;
    }

    &__inner {
        padding: 55px 60px 50px;
        color: var(--color-light);
        background-color: var(--color-dark);

        @include mobile-above {
            border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
        }

        @include mobile {
            padding: 50px var(--container-padding-x) 30px;
        }

        @include tablet{
            @include flex-col;
            align-items: center;
            row-gap: 37px;
        }
    }

    &__navigation {
        @include flex-row;
        column-gap: 30px;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 66px;
        }

        @include tablet {
            @include flex-col;
            align-items: center;
            row-gap: 37px;

            display: contents;
        }
    }

    &__menu {
        &-list {
            @include flex-row;

            align-items: center;
            column-gap: 40px;

            @include desktop {
                column-gap: 20px;
            }

            @include mobile {
                @include flex-col;
                row-gap: 15px;
            }
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            line-height: 30px;

            @include hover {
                color: var(--color-accent);

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 77%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 1px;
                background-color: currentColor;
                transition-duration: inherit;
            }
        }
    }

    &__soc1als {
        @include tablet {
            order: 1;
        }
    }

    &__body {
        @include flex-row;

        justify-content: space-between;
        column-gap: 50px;

        @include tablet-above {
            &:not(:last-child) {
                margin-bottom: 50px;
                padding-bottom: 50px;
                border-bottom: 1px solid currentColor;
            }
        }

        @include mobile {
            @include flex-col;
            align-items: center;
            row-gap: inherit;
        }

        @include mobile-s {
            width: 100%;
        }
    }

    &__contacts {
        @include flex-col;

        justify-content: space-between;
        align-items: start;
        row-gap: 27px;

        @include mobile {
            row-gap: 37px;
            align-items: center;
            text-align: center;
        }

        &-title {
            color: var(--color-dark);
        }

        &-body {

            font-style: normal;

            p {
                --paragraphMarginBottom: 20px
            }

            a {
                @include hover {
                    color: var(--color-accent);
                }
            }

            @include mobile {
                p {
                    --paragraphMarginBottom: 15px
                }
            }
        }
    }

    &__extra {
        @include flex-row;
        column-gap: 40px;
        justify-content: flex-start;
        align-items: center;

        @include tablet {
            @include flex-col;
            row-gap: 15px;
            order: 2;
            width: 100%;
            padding-top: 37px;
            border-top: 1px solid currentColor;
        }
    }

    &__privacy-policy-link {
        position: relative;
        display: inline-flex;
        align-items: center;
        line-height: 30px;

        @include hover {
            color: var(--color-accent);

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 77%;
            left: 50%;
            translate: -50%;
            width: 0;
            height: 1px;
            background-color: currentColor;
            transition-duration: inherit;
        }
    }
}