.soc1als {
    &-list {
        @include flex-row;
        column-gap: 20px;
    }

    &-link {
        @include square(30px);
        @include flex-center(true);

        border-radius: 50%;
        color: var(--color-dark);
        background-color: var(--color-light);

        svg {
            width: 50%;
            height: 50%;
        }

        @include hover {
            background-color: var(--color-accent);
        }
    }
}